<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/02cdf3547c.js" crossorigin="anonymous"></script>
    <title>ContactList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'contacts' %>
    <%= javascript_pack_tag 'contacts', 'data-turbolinks-track': 'reload' %>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete)%>        
      </li>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
